*.env
.dev.vars
/data/
/venv/
__pycache__/
*.pyc
node_modules/
.next/
out/
dump.rdb
*.rdb
.*json
model/
clipenv/
searchenv/
pip_cache/
cache/
chroma/
embeddings/
session_embeddings/
searchSessions/
tmp_cache/
audio_cache/
cached_audio/
nltk_data/
model_cache/
playwright_user_data/
minikube-linux-amd64
.wrangler/
wrangler.toml
search.elixpo/wrangler.toml
/PRODUCTION/src/__pycache__
PRODUCTION/k8s/secret.yaml
data/
dist/
lix_chat.egg-info/
*.aux
*.fls
*.log
*.out
*.gz
*bbl
*.blg
*.fdb_latexmk
*.egg-info/