*.env
/venv
clipenv/
model/
playwright_user_data/
/PRODUCTION/src/__pycache__'
searchenv/
PRODUCTION/k8s/secret.yaml
/PRODUCTION/src/__pycache__
__pycache__/
*.pyc
minikube-linux-amd64
pip_cache/
searchSessions/
tmp_cache/
audio_cache/
.*json
node_modules/
cached_audio/
nltk_data/
model_cache/
cache/
session_embeddings/
embeddings/
.*rdb
chroma/